<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="title">
    CHOOSE YOUR OWN ADVENTURE GAME!
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
      
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>  <ion-button color="success" expand="block" id="startButton" routerLink="/game">Start Game</ion-button></strong>
    <ion-button expand="block"  routerLink="/options">OPTIONS</ion-button>
    
  </div>
</ion-content>
